@import '02-variables.less';
@import '02-mixins.less';

ASIDE.left, ASIDE.right { 
	.box-sizing(border-box);
	width: 33.33%; /* 320 - 1/3 of body width */ }
	
		.doc-main ASIDE.left, .doc-main ASIDE.right { width: 44.44%; }

	ASIDE.left {
		margin: -11px 20px 10px 0;
		margin: -1.1rem 20px 1rem 0; }
	
	ASIDE.right {
		margin: -11px 0 10px 20px;
		margin: -1.1rem 0 1rem 20px; }


BLOCKQUOTE {
	background: @c-tr;
	margin: @baseline 0; /* 24px 0 */
	padding: @baseline 20px; /* 24px 20px */
	
	P { padding: 0}
	
	.byline { .pseudo-before(); }
	
	.byline:before { content: '\2014 \00A0'; }
	}

/*	==================================================
		General boxes
		==================================================	*/

.box {
	border: @brd;
	margin: 29em/@b 0 45em/@b; /* 29px 0 45px */
	padding-bottom: 1em;
	position: relative;
	.pseudo-after();

	HEADER { 
		#gradient > .vertical-three-colors(#FCF7F4, #F3E4E1, 76%, #F7EBE8);
		border-top: 1px solid #FEFDFC;
		margin-bottom: @baseline;
		padding: 25px 19px 0;
		min-height: 23px;
		*height: 23px;
		
		H3 {
			color: #A58180;
			font-size: 76.9%; /* 10px */
			font-weight: normal;
			text-shadow: 0 1px 0 rgba(255,255,255,1);
			text-transform: uppercase;
			padding-right: 5px;
			position: relative;
			.pseudo-after();
			
			&:after, .after { /* Bullet */
				background: #f7ece9;
				border: 1px solid rgba(0,0,0,.08);
				.box-shadow(inset 0 1px 0 rgba(255,255,255,.4));
				content: '';
				display: block;
				line-height: 0;
				position: absolute;
				top: 3em/10;
				right: -10px;
				height: 9px;
				width: 9px; }
			 }
		}
	
	DL, OL, P, UL { padding-right: 19px; }
	
	DL, P { padding-left: 19px; }
	
	&:after, .after { /* Angled border */
		.bg-img();
		background-position: -430px 0;
		.ir();
		content:'';
		line-height: 0;
		position: absolute;
		bottom: -1px;
		right: -1px;
		height: 12px;
		width: 12px; }	
	}

.jumped {
	margin-bottom: @baseline;
	
	> P:last-child:after, > UL LI:last-child:after { /* Right arrow */
		content: '';
		.inline-block();
		margin: 0 0 -1em/@b .44em;
		border-top: 5px solid transparent;
		border-left: 4px solid @c-link;
		border-bottom: 5px solid transparent;
		width: 0; }
	}

.tsr {
	#gradient > .vertical-three-colors(#a6cce5, #80a6bf, 76%, #99bfd9);
	filter: ~'progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFa6cce5, EndColorStr=#FF80a6bf, GradientType=0)'; /*	Filter in three-colors mixin don't work in  */
	color: #194059;
	text-shadow:  0 1px 0 rgba(255,255,255,.44);
	margin-top: @baseline/2;
	margin-bottom: @baseline;
	padding-top: @baseline/2;
	padding-bottom: @baseline;
	
	A {
		color: #194059;
			
		&:hover {
			color: darken(#194059, 12%);
			text-decoration: none;
			
			P:last-child:after, UL LI:last-child:after { /* Right arrow */
				border-left-color: rgba(255,255,255,.88); }
			}
	 	}
	
	&:after, .after { /* Angled border */
		content: '';
		display: block;
		border-bottom: 12px solid @bg;
		border-left: 12px solid transparent;
		font-size: 0;
		line-height: 0;
		text-decoration: none;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0; }
		
	P:last-child:after, UL LI:last-child:after { /* Right arrow */
		content: '';
		.inline-block();
		margin: 0 0 -1em/@b .44em;
		border-top: 5px solid transparent;
		border-left: 4px solid rgba(255,255,255,.44);
		border-bottom: 5px solid transparent;
		width: 0; }
	}

.coverline {
	/*
	Small teaser - graphic element or headline. Set in 2-columns smartphone layout. 
	*/ }
	
/*	==================================================	*/

DIV:focus { outline: none; }

IFRAME {
	border: 0 none;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	height: auto;
	max-width: 100%; }

/*	**************************************************
	
	!! BL SHIFT !!
	PHONES & SMALL PORTRAIT TABLETS
	
	**************************************************	*/
@media only screen and (max-width: 767px) {

ASIDE.left, ASIDE.right {
	margin: 0 0 @baseline;
	width: 100% !important; }

.box { background: @c-tr;

	HEADER {
		margin-bottom: 11em/@bm;
		padding: 10em/@bm 0 0;
		min-height: 29em/@bm;
		*height: 29em/@bm; }

	}

BLOCKQUOTE {
	margin: @baseline-mob 0; /* 20px 0 */
	padding: @baseline-mob 20px; /* 20px */ }

}
/*	**************************************************
	
	PORTRAIT PHONES
	
	**************************************************	*/
@media only screen and (max-width: 479px) {
	
.box {
	border-right: 0;
	border-left: 0;
	.border-radius(0);
	
	HEADER { .border-radius(0); }
	
	DL, OL, P, UL { padding-right: 20px; }
	
	DL, P { padding-left: 20px; }
	
	}

.jumped > P, .jumped > UL LI, .tsr P, .tsr UL LI {
	&:last-child:after, &:last-child:after { /* Right arrow */
		margin-bottom: 0; }
}

.tsr {
	margin-top: 0;
	margin-bottom: @baseline-mob;
	padding-top: 0;
	padding-bottom: @baseline-mob;
	height: auto !important; }
  
}