@import '02-variables.less';
@import '02-mixins.less';

.doc-sidebar {
	color: @c-txt;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11/@b*100%;
	font-size: 11px\9;
	line-height: 16em/11;
	margin-top: 20em/11;
	width: @sidebar;
	
	.box { margin-top: 0; }
	
	HEADER H3 {
		font-family: @font-sans;
		font-weight: bold;
		font-size: 10/11*100%; }
}

NAV.doc-sidebar {
	.gutter(); /* Margin-left */

	.box UL { padding: 0 9px; }

	.box HEADER { margin-bottom: 10em/11; }
	
	A {
		.box-sizing(border-box);
		color: @c-txt;
		display: block;
		margin-top: 1px;
		padding: 7px 10px 6px;
		position: relative;
		width: 100%;
		.pseudo-after();
	
		&:visited { color: @c-txt; }
	
		&.active, &:hover, &:focus {
			color: @c-txt;
			background: @c-sm-link-hover-bg !important;
			text-decoration: none;
	
		&:after, .after { /* Bevelled angles */
			content: '';
			display: block;
			border-bottom: 12px solid @bg;
			border-left: 12px solid transparent;
			font-size: 0;
			line-height: 0;
			text-decoration: none;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 0; }
		}
	}
}

ASIDE.doc-sidebar {
	.box {
		HEADER { 
			#gradient > .vertical-three-colors(#40a6cc, #1980a6, 76%, #3399bf);
			border-top: 1px solid #5fb4d4;
			margin-bottom: 17em/11; /* Fine-tuning */ }
		
		H3 {
			color: #FFF;
			text-shadow: 0 1px 0 darken(#1980a6, 4%);
			
			&:after, .after { /* Bullet - See 09-boxes.css */
				background: #4c96b7;
				*background: darken(#4c96b7, 4%);
				background: darken(#4c96b7, 4%)~'\0/';
				border: 1px solid rgba(0,0,0,.16);
				*border-color: darken(#4c96b7, 12%);
				.box-shadow(inset 0 1px 0 rgba(255,255,255,.12)); }
			}
	}
	
	
		.open-space { padding: 0 20px;
		
			H3 {
				color: #000;
				font-family: @h2-font;
				font-size: 21/11*100%;
				line-height: 32em/21;
				padding-top: 0;
				padding-bottom: 0; }
			
			A:last-child:after {
				.bg-img();
				background-position: -400px 0;
				.ir();
				content: '';
				.inline-block();
				margin: -1px 0 0 .4em;
				vertical-align: middle;
				height: 16px;
				width: 16px; }
		}
	}

/*	**************************************************
	
	PORTRAIT TABLETS: 768–979px
	
	**************************************************	*/

@media only screen and (min-width: 768px) and (max-width: 979px) {
	
	ASIDE.doc-sidebar { display: none; }
	NAV.doc-sidebar {
		float: right;
		margin-left: 0;
		margin-right: 100%*@gutter/@max-width;
		*margin-right: 100%*(@gutter - 1)/@max-width; }
}

/*	**************************************************
	
	!! BL SHIFT !!
	PHONES & SMALL PORTRAIT TABLETS
	
	**************************************************	*/

@media only screen and (max-width: 767px) {

.doc-sidebar { display: none; }
}